{
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "^@parlor/(.*)$", "^../", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
